<div id="body">
    <header>
        <nav>

            <div class="container-wrapper">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="pull-left">
                            <li [routerLink]="['/']" style="cursor:pointer" class="wow fadeIn" data-wow-duration="0.5s">
                                <img style="height:70px;margin-bottom:5px;" src='../assets/images/logo/logo2.png'
                                     class="img-responsive" alt="logo" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-3">
                        <ul class="pull-right">
                            <li style="font-weight:bold;margin-top:10px; font-size:16px;" class="text-center hidden-xs bold color-merrone wow fadeIn" data-wow-duration="0.5s">
                            Toll Free :  1800 313 9101
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div data-wow-duration="0.5s">

        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="container-wrapper">
            <div class="row no-margin">
                <div class="col-sm-6 hidden-xs">
                    <p class="rights">2017 © Classymatrimony.com, Mohsy Matchmaking Pvt Ltd. ALL Rights Reserved.</p>
                </div>
                <div class="col-sm-6 social">
                    <ul>
                        <!--<li><a href="javascript:void(0)" class="twitter">twitter</a></li>-->
                        <li><a target="_blank" href="https://www.facebook.com/Classy-Matrimony-288345914972458/" class="facebook">facebook</a></li>
                        <li><a href="mailto:support@classymatrimony.com"  class="mail">email</a></li>
</ul>
                </div>
                <div class="col-sm-6 visible-xs">
                    <p class="rights">2017 © Classymatrimony.com, Mohsy Matchmaking Pvt Ltd, ALL Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>