
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #007bb6;
}
.loginBtn--google:before {
  border-right: rgba(0,0,0,0.2) 1px solid;
  /*background:  url('../../assert/images/pattern-maroon.jpg')    6px 6px no-repeat;*/
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #007bb6;
}



@-ms-viewport       { width: device-width; }
/*css for login form page*/
    .or-text-row {
		display: table-row;
	}
	.or-text {
		display: table;     
		width: 100%;
		position: relative;
		margin: 20px 0;
	}
	.or-text-step button[disabled] {
		opacity: 1 !important;
		filter: alpha(opacity=100) !important;
	}
	.or-text-row:before {
		top: 14px;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 100%;
		height: 1px;
		background-color: #e8e8e8;
		z-order: 0;
	}
	.or-text-line {    
		display: table-cell;
		text-align: center;
		position: relative;
		width: 100%;
	}
	.or-text-line p {
		margin-top:10px;
	}
	.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 2px 0;
		font-size: 17px;
		line-height: 1.428571429;
		border-radius: 15px;
	}	
	.btn-group{margin-bottom: 5px;}
	.fa{padding-right: 10px;}

   .labelcss {
     color: #f00;
     
   }
	/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text], input[type=email] {
     color: #000 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
        
   .header-text {
	font-family: "Brush Script MT", cursive;
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}